USE [QLDH]
GO
/****** Object:  User [1]    Script Date: 6/7/2022 10:20:16 ******/
CREATE USER [1] FOR LOGIN [NV1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [2]    Script Date: 6/7/2022 10:20:16 ******/
CREATE USER [2] FOR LOGIN [NV2] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [4]    Script Date: 6/7/2022 10:20:16 ******/
CREATE USER [4] FOR LOGIN [NV4] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [5]    Script Date: 6/7/2022 10:20:16 ******/
CREATE USER [5] FOR LOGIN [NV5] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [7]    Script Date: 6/7/2022 10:20:16 ******/
CREATE USER [7] FOR LOGIN [NV7] WITH DEFAULT_SCHEMA=[7]
GO
/****** Object:  DatabaseRole [CUAHANG]    Script Date: 6/7/2022 10:20:16 ******/
CREATE ROLE [CUAHANG]
GO
/****** Object:  DatabaseRole [NHANVIEN]    Script Date: 6/7/2022 10:20:16 ******/
CREATE ROLE [NHANVIEN]
GO
ALTER ROLE [CUAHANG] ADD MEMBER [1]
GO
ALTER ROLE [db_owner] ADD MEMBER [1]
GO
ALTER ROLE [CUAHANG] ADD MEMBER [2]
GO
ALTER ROLE [db_owner] ADD MEMBER [2]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [4]
GO
ALTER ROLE [db_owner] ADD MEMBER [4]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [5]
GO
ALTER ROLE [db_owner] ADD MEMBER [5]
GO
ALTER ROLE [NHANVIEN] ADD MEMBER [7]
GO
ALTER ROLE [db_owner] ADD MEMBER [7]
GO
ALTER ROLE [db_owner] ADD MEMBER [CUAHANG]
GO
ALTER ROLE [db_owner] ADD MEMBER [NHANVIEN]
GO
/****** Object:  Schema [7]    Script Date: 6/7/2022 10:20:16 ******/
CREATE SCHEMA [7]
GO
/****** Object:  Table [dbo].[CTDDH]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDDH](
	[MasoDDH] [nchar](8) NOT NULL,
	[MADH] [nchar](4) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_CTDDH] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPN]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPN](
	[MAPN] [nchar](8) NOT NULL,
	[MADH] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTPX]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPX](
	[MAPX] [nchar](8) NOT NULL,
	[MADH] [nchar](4) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [float] NOT NULL,
 CONSTRAINT [PK_CTPX] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[MasoDDH] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[NhaCC] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_DatHang] PRIMARY KEY CLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dongho]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dongho](
	[MADH] [nchar](4) NOT NULL,
	[TENDH] [nvarchar](30) NOT NULL,
	[DVT] [nvarchar](15) NOT NULL,
	[SOLUONGTON] [int] NULL,
 CONSTRAINT [PK_Dongho] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [int] NOT NULL,
	[HO] [nvarchar](40) NULL,
	[TEN] [nvarchar](10) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[LUONG] [float] NULL,
	[TrangThaiXoa] [bit] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MAPN] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[MasoDDH] [nchar](8) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuXuat]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuXuat](
	[MAPX] [nchar](8) NOT NULL,
	[NGAY] [date] NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[MANV] [int] NOT NULL,
 CONSTRAINT [PK_PhieuXuat] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CTDDH] ([MasoDDH], [MADH], [SOLUONG], [DONGIA]) VALUES (N'MDDH01  ', N'DH04', 2, 6500000)
INSERT [dbo].[CTDDH] ([MasoDDH], [MADH], [SOLUONG], [DONGIA]) VALUES (N'MDDH02  ', N'DH03', 1, 8000000)
INSERT [dbo].[CTDDH] ([MasoDDH], [MADH], [SOLUONG], [DONGIA]) VALUES (N'MDDH03  ', N'DH01', 2, 7600000)
GO
INSERT [dbo].[CTPN] ([MAPN], [MADH], [SOLUONG], [DONGIA]) VALUES (N'PN01    ', N'DH04', 2, 4500000)
INSERT [dbo].[CTPN] ([MAPN], [MADH], [SOLUONG], [DONGIA]) VALUES (N'PN02    ', N'DH03', 1, 5400000)
INSERT [dbo].[CTPN] ([MAPN], [MADH], [SOLUONG], [DONGIA]) VALUES (N'PN03    ', N'DH05', 4, 7000000)
GO
INSERT [dbo].[CTPX] ([MAPX], [MADH], [SOLUONG], [DONGIA]) VALUES (N'PX02    ', N'DH04', 6, 9800000)
INSERT [dbo].[CTPX] ([MAPX], [MADH], [SOLUONG], [DONGIA]) VALUES (N'PX03    ', N'DH05', 1, 23000000)
INSERT [dbo].[CTPX] ([MAPX], [MADH], [SOLUONG], [DONGIA]) VALUES (N'PX04    ', N'DH03', 4, 40540654)
GO
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV]) VALUES (N'MDDH01  ', CAST(N'2022-05-30' AS Date), N'SAMSUNG', 1)
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV]) VALUES (N'MDDH02  ', CAST(N'2021-02-13' AS Date), N'XIAOMI', 3)
INSERT [dbo].[DatHang] ([MasoDDH], [NGAY], [NhaCC], [MANV]) VALUES (N'MDDH03  ', CAST(N'2017-08-25' AS Date), N'ĐIỆN MÁY XANH', 4)
GO
INSERT [dbo].[Dongho] ([MADH], [TENDH], [DVT], [SOLUONGTON]) VALUES (N'DH01', N'ĐỒNG HỒ REAL', N'CÁI', 7)
INSERT [dbo].[Dongho] ([MADH], [TENDH], [DVT], [SOLUONGTON]) VALUES (N'DH02', N'ĐỒNG HỒ FAKE', N'CÁI', 8)
INSERT [dbo].[Dongho] ([MADH], [TENDH], [DVT], [SOLUONGTON]) VALUES (N'DH03', N'ĐỒNG HỒ XIAOMI', N'CÁI', 10)
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [TrangThaiXoa]) VALUES (1, N'VÕ ĐÔNG', N'DUY', N'LONG AN', CAST(N'2001-09-19T00:00:00.000' AS DateTime), 9999999, 0)
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [TrangThaiXoa]) VALUES (2, N'NGUYỄN DOÃN', N'THÔNG', N'HÀ TĨNH', CAST(N'2001-10-20T00:00:00.000' AS DateTime), 7000000, 0)
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [NGAYSINH], [LUONG], [TrangThaiXoa]) VALUES (3, N'VŨ ĐỨC', N'ANH', N'TP.HCM', CAST(N'2001-05-09T00:00:00.000' AS DateTime), 5000000, 0)
GO
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV]) VALUES (N'PN01    ', CAST(N'2022-05-30' AS Date), N'MDDH01  ', 1)
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV]) VALUES (N'PN02    ', CAST(N'2021-08-26' AS Date), N'MDDH02  ', 3)
INSERT [dbo].[PhieuNhap] ([MAPN], [NGAY], [MasoDDH], [MANV]) VALUES (N'PN03    ', CAST(N'2022-06-06' AS Date), N'MDDH05  ', 4)
GO
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV]) VALUES (N'PX01    ', CAST(N'2022-05-30' AS Date), N'NGUYỄN NGÔ GIA BẢO', 1)
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV]) VALUES (N'PX02    ', CAST(N'2016-09-25' AS Date), N'PHAN THỊ YẾN NHI', 5)
INSERT [dbo].[PhieuXuat] ([MAPX], [NGAY], [HOTENKH], [MANV]) VALUES (N'PX03    ', CAST(N'2021-08-15' AS Date), N'HUỲNH NGUYÊN ĐÌNH', 3)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_TENDH]    Script Date: 6/7/2022 10:20:16 ******/
ALTER TABLE [dbo].[Dongho] ADD  CONSTRAINT [UK_TENDH] UNIQUE NONCLUSTERED 
(
	[TENDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_MaSoDDH]    Script Date: 6/7/2022 10:20:16 ******/
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [UK_MaSoDDH] UNIQUE NONCLUSTERED 
(
	[MasoDDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_MasoDDH]  DEFAULT (getdate()) FOR [MasoDDH]
GO
ALTER TABLE [dbo].[DatHang] ADD  CONSTRAINT [DF_DatHang_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_MANV]  DEFAULT ((0)) FOR [MANV]
GO
ALTER TABLE [dbo].[NhanVien] ADD  CONSTRAINT [DF_NhanVien_TrangThaiXoa]  DEFAULT ((0)) FOR [TrangThaiXoa]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_MAPN]  DEFAULT (getdate()) FOR [MAPN]
GO
ALTER TABLE [dbo].[PhieuNhap] ADD  CONSTRAINT [DF_PhieuNhap_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[PhieuXuat] ADD  CONSTRAINT [DF_PX_NGAY]  DEFAULT (getdate()) FOR [NGAY]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DatHang]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [FK_CTDDH_DongHo] FOREIGN KEY([MADH])
REFERENCES [dbo].[Dongho] ([MADH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [FK_CTDDH_DongHo]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_DongHo] FOREIGN KEY([MADH])
REFERENCES [dbo].[Dongho] ([MADH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_DongHo]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPN_PhieuNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PhieuNhap] ([MAPN])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [FK_CTPN_PhieuNhap]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_DongHo] FOREIGN KEY([MADH])
REFERENCES [dbo].[Dongho] ([MADH])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_DongHo]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [FK_CTPX_PX] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PhieuXuat] ([MAPX])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [FK_CTPX_PX]
GO
ALTER TABLE [dbo].[DatHang]  WITH NOCHECK ADD  CONSTRAINT [FK_DatHang_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[DatHang] CHECK CONSTRAINT [FK_DatHang_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_DatHang] FOREIGN KEY([MasoDDH])
REFERENCES [dbo].[DatHang] ([MasoDDH])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_DatHang]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH NOCHECK ADD  CONSTRAINT [FK_PhieuNhap_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_PhieuNhap_NhanVien]
GO
ALTER TABLE [dbo].[PhieuXuat]  WITH NOCHECK ADD  CONSTRAINT [FK_PX_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[PhieuXuat] CHECK CONSTRAINT [FK_PX_NhanVien]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIA] CHECK NOT FOR REPLICATION (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_DONGIA]
GO
ALTER TABLE [dbo].[CTDDH]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONG] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTDDH] CHECK CONSTRAINT [CK_SOLUONG]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPN] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_DONGIACTPN]
GO
ALTER TABLE [dbo].[CTPN]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPN] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPN] CHECK CONSTRAINT [CK_SOLUONGCTPN]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_DONGIACTPX] CHECK NOT FOR REPLICATION (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_DONGIACTPX]
GO
ALTER TABLE [dbo].[CTPX]  WITH NOCHECK ADD  CONSTRAINT [CK_SOLUONGCTPX] CHECK NOT FOR REPLICATION (([SOLUONG]>(0)))
GO
ALTER TABLE [dbo].[CTPX] CHECK CONSTRAINT [CK_SOLUONGCTPX]
GO
ALTER TABLE [dbo].[NhanVien]  WITH NOCHECK ADD  CONSTRAINT [CK_LUONG] CHECK NOT FOR REPLICATION (([LUONG]>=(4000000)))
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [CK_LUONG]
GO
/****** Object:  StoredProcedure [dbo].[SP_DangNhap]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_DangNhap]
@TENLOGIN NVARCHAR( 100)
AS
DECLARE @UID INT
DECLARE @MANV NVARCHAR(100)
SELECT @UID= uid , @MANV= NAME FROM sys.sysusers 
  WHERE sid = SUSER_SID(@TENLOGIN)

SELECT MANV= @MANV, 
       HOTEN = (SELECT HO+ ' '+TEN FROM dbo.NHANVIEN WHERE MANV=@MANV ), 
       TENNHOM=NAME
  FROM sys.sysusers
    WHERE UID = (SELECT groupuid FROM sys.sysmembers WHERE memberuid=@uid)
GO
/****** Object:  StoredProcedure [dbo].[SP_DonHangCoPhieuNhapChua]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DonHangCoPhieuNhapChua]
@MaDonHang nchar(8)
AS
BEGIN
	IF(EXISTS(SELECT * FROM DBO.PhieuNhap AS P WHERE P.MasoDDH = @MaDonHang))
		RETURN 1;
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaDonDatHang]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KiemTraMaDonDatHang]
	@id nvarchar(15)
AS
BEGIN
	IF( EXISTS(SELECT * FROM DatHang AS DH WHERE DH.MasoDDH = @id) )
		RETURN 1;
	RETURN 0;-- id nhap vao khong ton tai
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaDongHo]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_KiemTraMaDongHo]
	@MADONGHO nchar(4)
as
begin
	if exists( select * from DBO.Dongho as DH where DH.MADH = @MADONGHO)
		return 1; -- ma dong ho ton tai
	return 0; -- ma dong ho khong ton tai
end
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaPhieuNhap]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KiemTraMaPhieuNhap]
@MAPN nChar(8)
AS
BEGIN
	IF( EXISTS( SELECT * FROM PhieuNhap WHERE MAPN = @MAPN ) )
		RETURN 1;--TON TAI MA PHIEU NHAP
	RETURN 0;-- KHONG TON TAI
END
GO
/****** Object:  StoredProcedure [dbo].[SP_KiemTraMaPhieuXuat]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_KiemTraMaPhieuXuat]
	@MAPX nChar(8)
AS
BEGIN
	if( EXISTS( SELECT * FROM DBO.PhieuXuat AS PX WHERE PX.MAPX = @MAPX))
		RETURN 1;-- ton tai o chi nhanh hien tai
	RETURN 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TaoTaiKhoan]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_TaoTaiKhoan]
    @LGNAME VARCHAR(50),  @PASS VARCHAR(50),
    @USERNAME VARCHAR(50),  @ROLE VARCHAR(50)     
AS
  DECLARE @RET INT
  EXEC @RET= SP_ADDLOGIN @LGNAME, @PASS, 'QLVT_DATHANG'
  IF (@RET =1)  -- LOGIN NAME BI TRUNG
  BEGIN
     RAISERROR ('Login name bị trùng', 16,1)
	 RETURN
  END 
  EXEC @RET= SP_GRANTDBACCESS @LGNAME, @USERNAME
  IF (@RET =1)  -- USER  NAME BI TRUNG
  BEGIN
       EXEC SP_DROPLOGIN @LGNAME
       RAISERROR ('Nhân viên dã có login name', 16,2)
       RETURN
  END
  EXEC sp_addrolemember @ROLE, @USERNAME
  IF @ROLE = 'CUAHANG'
  BEGIN
      EXEC sp_addsrvrolemember @LGNAME, 'SecurityAdmin'
  END
GO
/****** Object:  StoredProcedure [dbo].[SP_TraCuu_KiemTraMaNhanVien]    Script Date: 6/7/2022 10:20:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[SP_TraCuu_KiemTraMaNhanVien]
	@MANHANVIEN int
as
begin
	if exists( select * from DBO.NHANVIEN as NV where NV.MANV = @MANHANVIEN)
		return 1; -- ma nhan vien ton tai
	return 0; -- ma nhan vien khong ton tai
end
GO
